<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='katakana.js')}}" defer></script>
    <link rel="icon" href="{{url_for('static', filename='favicon_io/favicon-32x32.png')}}">
    <title>日本語能力試験</title>
</head>
<body>
    <div>
        <a href="{{url_for('homepage')}}"><img src="/static/img/JapaneseHomeButton.png" alt="HomeIcon" id="homeButton"></a>
    </div>
    <div>
        <p id="counter"></p>
    </div>
    <div>
        <div id="everything-box">
            <h1 id="display"></h1>
        </div>
        <div>

        </div>
        <div class="container">
            <input type="" placeholder="Enter Answer here." id="answer-box">
        </div>
        <div>
            <p id="correctText"></p>
            <p id="incorrectText"></p>
        </div>
    </div>
</body>
</html>

